body{
	background: linear-gradient(to right, #00f260, #0575e6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;	
}
.game-title {
	font-weight: bold !important;
	font-size: 32px !important;
}
.author-title{
	margin-top:15px; 
	font-weight: bold !important;
	font-size: 14px !important;
	color:white;
}
.main-board{
	width: 550px;
	height: 625px;
	background: linear-gradient(to bottom, #7f00ff, #e100ff); 
	border-radius:5px;
}
.main-container{
	position: relative;
	width: 100px;
	height: 100px;
	perspective: 1000px;
}
 
.main-card{
	position: absolute;
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
	transition: all 0.9s ease ;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	
}
.main-card:active{
	transform: scale(.80);
}
.main-card.flip{
	transform: rotateY(180deg);
}
.front-card{
	position: absolute !important;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 15px;
}
.back-card {
	position: absolute !important;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background-color: #fff;
	border-radius: 15px;
}
.front-card img{
	width: 70px;
	height: 70px;
}
.back-card img{
	width: 70px;
	height: 70px;
}
@media (max-width: 650px){
	.game-title{
		font-weight: bold !important;
		font-size: 24px !important;
		margin-bottom:0px !important; 
	}
	.main-board{
		width: 380px;
		height: 450px;
		background: linear-gradient(to bottom, #7f00ff, #e100ff);
	}
	.main-card{
		position: absolute;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: all 0.9s ease ;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	.main-container{
		position: relative;
		width: 60px;
		height: 60px;
		perspective: 1000px;
	}
	.front-card img{
		width: 50px;
		height: 50px;
	}
	.back-card img{
		width: 50px;
		height: 50px;
	}
}