*{
    margin:0px;
    padding:0px;
}
body{
    background-color:greenyellow !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.main-card{
    width: 45em;
    height: 45em;
    background-color: blueviolet;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
}
.card-container{
    justify-content:center;
    align-items: center;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.img-card{
    width: 6.5em;
    height: 6.5em;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px rgb(63, 63, 63);
}
.img-card img{
    width: 4.5em;
    height: 4.5em;
    justify-content: center;
    align-items: center;
}
.flip-card {
    background-color: transparent;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
  }

.start-btn{
  width: 150px !important;
  height: 40px;
  font-weight: bold;
  color: aliceblue;
  font-size: 24px;
  text-decoration: none;
  border-radius: 25px;
  border: none;
  text-align: center;
  background-color:rgb(69, 25, 110) !important;
}